.my-style {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.center-img {
    text-align: center;
    position: absolute;
    margin-left: 250px;
    margin-right: auto;
    width: 33%;
    border: 3px solid green;
    padding: 10px;
}
.right-img {
    position: absolute;
    margin: auto;
    right: 0px;
    width: 33%;
    border: 3px solid #73AD21;
    padding: 10px;
}
.left-img {
    position: absolute;
    margin: auto;
    left: 0px;
    width: 33%;
    border: 3px solid #73AD21;
    padding: 10px;
}